*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.App {
    width: 500px;
}

.post {
    margin-top: 20px;
    display: flex;
    padding: 15px;
    border: 1px red solid;
    justify-content: space-between;
    align-items: center;
}

.button_increment{
    margin-right: 20px ;
}
.spisok{
    text-align: center;
}

.postsclear{
    margin-top: 70px;
    font-size: 30px;
    text-align: center;
}

.createposts{
    margin-top:10px;
    font-size: 30px;
    text-align: center;
    font-weight: 700;
}

.counter{
    margin-bottom: 20px;
}

.postClass-enter {
    transform: translateX(-350px);
    
  }
.postClass-enter-active {
    transform: translateX(0px);
    transition: all 200ms ease-in;
  }
.postClass-exit {
    opacity: 1;
  }
.postClass-exit-active {
    transform: translateX(-150px);
    transition: all 200ms ease-in;
  }

  .page__wrapper {
    margin-top: 40px;
    display: flex;
  }

  .page {
    padding: 10px;
    border: 1px solid teal;
    cursor: pointer;
  }

  .page__current {
    border: 2px solid red;
    font-weight: bold;
  }

  .navbar {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: start;
    align-items: center;
    background-color: rgba(0, 8, 255, 0.839);
  }

  .navbar__links {
    margin: auto;
    padding: 0 15px;
  }

  .navbar_link {
    border: 4px solid black;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0.88);
    padding: 0 10px;
    margin: 0 30px;
  }

  .navbar_link:hover {
    opacity: 0.9;
    transition: all 0.7ms ease-in-out;
  }