.myBtn{
    padding: 5px 15px;
    color:teal;
    font-size: 14px;
    font-weight: 600;
    background:  transparent;
    border: 2px solid teal;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

.myBtn:hover{
    opacity: 0.9;
}